
.divBienvenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  background-color: #c5c5c5a2;
   background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
  color: #eee;
  width: 100%;
  height: 100vh;



  perspective: 1000px;
  perspective-origin: 50% 50%;
  animation: animation 100s linear infinite;
}

.title {
  font-size: 3em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  color: white
}

.subtitle {
  font-size: 1.5em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
@keyframes animation {
   100%{
    background-position:0px -3000px;
  }
}
.unorderedList {
  list-style-type: none;
  padding: 0;
  margin-bottom: 3em;
  display: flex;
  flex-direction: row;

}

.listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 15vh;
  background-color: #fcff4f;
  padding: 1em;
  margin: 5px;
  font-weight: 500;
  border-radius: 5%;
}
.listItem:hover {
  background-color: #262623c9;
  color: beige;
}

.listItem2 {
  width: 50%;
  object-fit: cover;
  margin: 15px;
}
